@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  #root {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  a, button {
    color: inherit;
    text-decoration: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }

  a:focus, button:focus {
    outline: none;
  }
}

@layer utilities {
  .interactive-reset {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
  }

  .interactive-reset:focus {
    outline: none;
  }
}

.font-\[\'Inter-Regular\'\2c _sans-serif\],
.font-\[\'Inter-Bold\'\2c _sans-serif\],
.font-\[\'Inter-SemiBold\'\2c _sans-serif\] {
  font-family: 'Inter', sans-serif !important;
}

.font-\[\'Montserrat-Regular\'\2c _sans-serif\],
.font-\[\'Montserrat-Bold\'\2c _sans-serif\],
.font-\[\'Montserrat-Black\'\2c _sans-serif\],
.font-\[\'Montserrat-SemiBold\'\2c _sans-serif\],
.font-\[\'Montserrat-ExtraBold\'\2c _sans-serif\] {
  font-family: 'Montserrat', sans-serif !important;
}

.font-\[\'Poppins-Regular\'\2c _sans-serif\],
.font-\[\'Poppins-SemiBold\'\2c _sans-serif\],
.font-\[\'Poppins-ExtraBold\'\2c _sans-serif\] {
  font-family: 'Poppins', sans-serif !important;
}

.font-\[\'Roboto-Bold\'\2c _sans-serif\] {
  font-family: 'Roboto', sans-serif !important;
}

.font-\[\'MaterialIcons-Regular\'\2c _sans-serif\] {
  font-family: 'Material Icons', sans-serif !important;
}

.font-font-family-body {
  font-family: 'Red Hat Display', sans-serif !important;
}

.real-winners-real-stories-span {
  color: #ffffff;
  text-shadow:
    -1px -1px 0 #1c3e6d,
    1px -1px 0 #1c3e6d,
    -1px 1px 0 #1c3e6d,
    1px 1px 0 #1c3e6d,
    -2px 0 0 #1c3e6d,
    2px 0 0 #1c3e6d,
    0 -2px 0 #1c3e6d,
    0 2px 0 #1c3e6d;
}

.real-winners-real-stories-span2 {
  color: #1c3e6d;
}
      