/* Figma Styles of your File */:root {
  /* Colors */
  --green-teal: linear-gradient(270deg, rgba(201, 252, 94, 1.00) 0%,rgba(167, 234, 206, 1.00) 100%);
  --campnowcom-white: #ffffff;
  --campnowcom-cerulean: #0bafbc;
  --campnowcom-black: #000000;
  --campnowcom-pacific-blue: #00b1bf;
  --campnowcom-mirage: #1e293b;
  --campnowcom-alabaster: #fafafa;
  --campnowcom-athens-gray: #fafafa;
  --campnowcom-boulder: #7a7a7a;
  --campnowcom-alto: #dedede;
  --campnowcom-pickled-bluewood: #334155;
  --campnowcom-butterfly-bush: #594b99;
  --campnowcom-java: #13c3d1;
  --campnowcom-alabaster: #fafafa;
  --campnowcom-white-02: rgba(255, 255, 255, 0.00);

  /* Fonts */
  --campnowcom-semantic-button-font-family: Tauri-Regular, sans-serif;
  --campnowcom-semantic-button-font-size: 24px;
  --campnowcom-semantic-button-line-height: 20px;
  --campnowcom-semantic-button-font-weight: 400;
  --campnowcom-semantic-button-font-style: normal;
  --campnowcom-semantic-heading-1-font-family: Roboto-SemiBold, sans-serif;
  --campnowcom-semantic-heading-1-font-size: 40px;
  --campnowcom-semantic-heading-1-line-height: 56px;
  --campnowcom-semantic-heading-1-font-weight: 600;
  --campnowcom-semantic-heading-1-font-style: normal;
  --campnowcom-semantic-heading-1-font-family: Tauri-Regular, sans-serif;
  --campnowcom-semantic-heading-1-font-size: 33px;
  --campnowcom-semantic-heading-1-line-height: 46.2px;
  --campnowcom-semantic-heading-1-font-weight: 400;
  --campnowcom-semantic-heading-1-font-style: normal;
  --campnowcom-semantic-heading-1-title-font-family: Tauri-Regular, sans-serif;
  --campnowcom-semantic-heading-1-title-font-size: 33px;
  --campnowcom-semantic-heading-1-title-line-height: 46.2px;
  --campnowcom-semantic-heading-1-title-font-weight: 400;
  --campnowcom-semantic-heading-1-title-font-style: normal;
  --campnowcom-semantic-heading-3-font-family: Roboto-SemiBold, sans-serif;
  --campnowcom-semantic-heading-3-font-size: 26px;
  --campnowcom-semantic-heading-3-line-height: 33.8px;
  --campnowcom-semantic-heading-3-font-weight: 600;
  --campnowcom-semantic-heading-3-font-style: normal;
  --campnowcom-semantic-heading-3-font-family: Tauri-Regular, sans-serif;
  --campnowcom-semantic-heading-3-font-size: 26px;
  --campnowcom-semantic-heading-3-line-height: 33.8px;
  --campnowcom-semantic-heading-3-font-weight: 400;
  --campnowcom-semantic-heading-3-font-style: normal;
  --campnowcom-semantic-heading-3-upper-font-family: Tauri-Regular, sans-serif;
  --campnowcom-semantic-heading-3-upper-font-size: 23px;
  --campnowcom-semantic-heading-3-upper-line-height: 29.9px;
  --campnowcom-semantic-heading-3-upper-font-weight: 400;
  --campnowcom-semantic-heading-3-upper-font-style: normal;
  --campnowcom-semantic-item-font-family: FontAwesome5Free-Solid, sans-serif;
  --campnowcom-semantic-item-font-size: 16px;
  --campnowcom-semantic-item-line-height: 16px;
  --campnowcom-semantic-item-font-weight: 400;
  --campnowcom-semantic-item-font-style: normal;
  --campnowcom-semantic-item-font-family: Raleway-Medium, sans-serif;
  --campnowcom-semantic-item-font-size: 15px;
  --campnowcom-semantic-item-line-height: 26.4px;
  --campnowcom-semantic-item-font-weight: 500;
  --campnowcom-semantic-item-font-style: normal;
  --campnowcom-semantic-link-font-family: FontAwesome5Brands-Regular, sans-serif;
  --campnowcom-semantic-link-font-size: 13px;
  --campnowcom-semantic-link-line-height: 13px;
  --campnowcom-semantic-link-font-weight: 400;
  --campnowcom-semantic-link-font-style: normal;
  --campnowcom-semantic-link-font-family: FontAwesome5Free-Solid, sans-serif;
  --campnowcom-semantic-link-font-size: 19px;
  --campnowcom-semantic-link-line-height: 19px;
  --campnowcom-semantic-link-font-weight: 400;
  --campnowcom-semantic-link-font-style: normal;
  --campnowcom-semantic-link-underline-font-family: Roboto-SemiBold, sans-serif;
  --campnowcom-semantic-link-underline-font-size: 88px;
  --campnowcom-semantic-link-underline-line-height: 123.2px;
  --campnowcom-semantic-link-underline-font-weight: 600;
  --campnowcom-semantic-link-underline-font-style: normal;
  --campnowcom-semantic-link-upper-font-family: Raleway-SemiBold, sans-serif;
  --campnowcom-semantic-link-upper-font-size: 13px;
  --campnowcom-semantic-link-upper-line-height: 27.3px;
  --campnowcom-semantic-link-upper-font-weight: 600;
  --campnowcom-semantic-link-upper-font-style: normal;
  --campnowcom-semantic-link-upper-font-family: Roboto-Medium, sans-serif;
  --campnowcom-semantic-link-upper-font-size: 15px;
  --campnowcom-semantic-link-upper-line-height: 20px;
  --campnowcom-semantic-link-upper-font-weight: 500;
  --campnowcom-semantic-link-upper-font-style: normal;
  --campnowcom-semantic-link-upper-font-family: WorkSans-Medium, sans-serif;
  --campnowcom-semantic-link-upper-font-size: 14px;
  --campnowcom-semantic-link-upper-line-height: 14px;
  --campnowcom-semantic-link-upper-font-weight: 500;
  --campnowcom-semantic-link-upper-font-style: normal;
  --campnowcom-semantic-strong-font-family: Roboto-Regular, sans-serif;
  --campnowcom-semantic-strong-font-size: 16px;
  --campnowcom-semantic-strong-line-height: 26.4px;
  --campnowcom-semantic-strong-font-weight: 400;
  --campnowcom-semantic-strong-font-style: normal;
  --campnowcom-semantic-strong-font-family: Roboto-Bold, sans-serif;
  --campnowcom-semantic-strong-font-size: 16px;
  --campnowcom-semantic-strong-line-height: 26.4px;
  --campnowcom-semantic-strong-font-weight: 700;
  --campnowcom-semantic-strong-font-style: normal;
  --campnowcom-semantic-strong-font-family: Tauri-Regular, sans-serif;
  --campnowcom-semantic-strong-font-size: 16px;
  --campnowcom-semantic-strong-line-height: 26.4px;
  --campnowcom-semantic-strong-font-weight: 400;
  --campnowcom-semantic-strong-font-style: normal;
  --campnowcom-raleway-regular-font-family: Raleway-Regular, sans-serif;
  --campnowcom-raleway-regular-font-size: 15px;
  --campnowcom-raleway-regular-line-height: 26.4px;
  --campnowcom-raleway-regular-font-weight: 400;
  --campnowcom-raleway-regular-font-style: normal;
  --campnowcom-roboto-regular-font-family: Roboto-Regular, sans-serif;
  --campnowcom-roboto-regular-font-size: 16px;
  --campnowcom-roboto-regular-line-height: 26.4px;
  --campnowcom-roboto-regular-font-weight: 400;
  --campnowcom-roboto-regular-font-style: normal;
  --campnowcom-roboto-italic-font-family: Roboto-Italic, sans-serif;
  --campnowcom-roboto-italic-font-size: 16px;
  --campnowcom-roboto-italic-line-height: 26.4px;
  --campnowcom-roboto-italic-font-weight: 400;
  --campnowcom-roboto-italic-font-style: italic;

  /* Effects */
  --big-card-left-shadow-box-shadow:  -20px 20px 30px 0px rgba(10, 44, 85, 0.20);
  --big-card-right-shadow-box-shadow:  20px 20px 30px 0px rgba(10, 44, 85, 0.20);
  --card-orange-box-shadow:  0px 12px 30px -8px rgba(255, 153, 26, 0.40);
  --card-small-box-shadow:  0px 16px 20px -12px rgba(0, 0, 0, 0.25);
}
/* Figma Color Variables of your File */[data-03-campnowcom-mode=mode-1] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-cyan-39: #0bafbc;
  --color-black-solid: #000000;
  --color-cyan-37: #00b1bf;
  --color-azure-17: #1e293b;
  --color-grey-98: #fafafa;
  --color-grey-48: #7a7a7a;
  --color-grey-87: #dedede;
  --color-azure-27: #334155;
  --color-blue-45: #594b99;
  --color-cyan-45: #13c3d1;
  --color-white-02: rgba(255, 255, 255, 0.00);
}

:root, [data-01-color-mode=global] {
  /* global */
  --yellow-30: #fff9e6;
  --yellow-50: #fff3cc;
  --yellow-100: #ffecb3;
  --yellow-200: #ffe080;
  --yellow-300: #ffd34d;
  --yellow-400: #ffc41a;
  --yellow-500: #faaf00;
  --yellow-600: #c88e00;
  --yellow-700: #966e00;
  --yellow-800: #644d00;
  --yellow-900: #322a00;
  --yellow-950: #1c1700;
  --blue-30: #ebf2fa;
  --blue-50: #e0eaf6;
  --blue-100: #c2d7ed;
  --blue-200: #9cbbe0;
  --blue-300: #789ed2;
  --blue-400: #5280c5;
  --blue-500: #3565b7;
  --blue-600: #2a5190;
  --blue-700: #1c3e6d;
  --blue-800: #13355f;
  --blue-900: #0a2c55;
  --blue-950: #071d36;
  --neutral-30: #f7f7f7;
  --neutral-50: #f2f2f2;
  --neutral-100: #e5e5e5;
  --neutral-200: #cccccc;
  --neutral-300: #b2b2b2;
  --neutral-400: #999999;
  --neutral-500: #808080;
  --neutral-600: #666666;
  --neutral-700: #4d4d4d;
  --neutral-800: #333333;
  --neutral-900: #1a1a1a;
  --neutral-950: #0d0d0d;
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --orange-800: #642b00;
  --orange-100: #ffe0b3;
  --orange-700: #964100;
  --orange-600: #c85700;
  --orange-500: #fe6d00;
  --orange-300: #ffb34d;
  --orange-400: #ff991a;
  --orange-200: #ffcc80;
  --orange-900: #321600;
  --orange-50: #fff3e0;
  --orange-950: #1c0d00;
  --orange-30: #fffcf0;
  --green-500: #e7f1db;
  --grey-10: #f5f7fa;
}

